.login-box{
    border-radius: 8px;
    background-color: #B5BEC6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    width: 100%;
    border: 1px solid rgb(172, 178, 185);
    box-shadow: 0px 0px 76px  rgba(17,68,69,0.75);
    -webkit-box-shadow: 0px 0px 76px  rgba(17,68,69,0.75);
    -moz-box-shadow: 0px 0px 76px  rgba(17,68,69,0.75);
}

.login-icon{
    width: 30%;
    margin-bottom: 25px;
}


.form-line{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}

.form-line > input{
    border-radius: 2px;
    border: none;
    height: 42px;
    width: 100%;
    background-color: rgb(172, 178, 185);
    color: black;
    padding-left: 10px;
}
.form-line > input::placeholder{
    color: black;
    font-family: 'poppins';
}
.form-line > input:focus{
    border: none;
    outline: none;
}
.form-label{
    font-size: 20px;
    color: azure;
    font-family: 'poppins';
}

.form-line > button{
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 100%;
    background-color: rgba(60, 144, 69, 0.826);
    color: azure;
}
.form-line > button:disabled{
    border: none;
    width: 100%;
    background-color: rgba(60, 144, 69, 0.432);
}
