<div class="cash-box-dashboard">
    <table>
        <thead>
            <tr>
                <th>ITEM</th>
                <th>MONTO PESOS</th>
                <th>MONTO USD</th>
                <th>MONTO USD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    hola
                </td>
                <td>
                    hola
                </td>
                <td>
                    hola
                </td>
                <td>
                    hola
                </td>
            </tr>
        </tbody>
    </table>
</div>