.modal-container{
    width: 400px;
    height: 200px;
    padding:10px;
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
    align-items: center;
    justify-content: center;
    background-color: rgba(198, 204, 204, 0.281);
}
.title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    width: 100%;
    margin-bottom: 20px;
}
.input-container > input{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgba(55, 61, 94, 0.342);
    height: 27px;
    color: azure;
}

.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.addclient-button-accept{
    background-color: rgba(8, 179, 8, 0.856);
    padding: 10px 8px 10px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: 'poppins';
    color: rgb(252, 252, 252);
}
.addclient-button-accept:disabled{
    background-color: rgba(46, 134, 46, 0.541);
    padding: 10px 8px 10px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: 'poppins';
    color: rgb(55, 61, 94);
}

.addclient-button-cancel{
    background-color: rgba(179, 8, 8, 0.856);
    padding: 10px 8px 10px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-family: 'poppins';
    color: rgb(252, 252, 252);
}