<div class="modal-container" [formGroup]="form">
    <div class="title-container">
        <p>Nuevo cliente</p>
    </div>

    <div class="input-container" >
        <input type="text" placeholder="Nombre del cliente" formControlName="name"/>
    </div>

    <div class="buttons-container">
        <button class="addclient-button-accept" 
                (click)="create()" 
                [disabled]="form.invalid">
                Aceptar
        </button>
        <button class="addclient-button-cancel"
                (click)="cancel()">
                Cancelar
        </button>
    </div>
    
</div>