<div class="home-background">
    <div class="title-container">
        <p>Welcome {{user}}</p>
        <img alt="baliicon" src="../../../../../assets/login-icon.png" class="login-icon"/> 
    </div>

    <div class="buttons-container">
        <button (click)="openDialogNewClient()">
            <img alt="add-icon" src="../../../../../assets/add-icon.png" 
                 class="button-icon"/> 
            Nuevo Cliente
        </button>
        <button (click)="goToCashBox()">
            <img alt="add-icon" src="../../../../../assets/cash-box-icon.png" 
                 class="button-icon"/> 
            Caja
        </button>
        <button (click)="logOut()">
            <img alt="logout-icon" src="../../../../../assets/logout-icon.png" class="button-icon" />
            Log Out
        </button>
    </div>

    <div class="table-container" 
        *ngIf="(clients|async)?.state === 'loaded'">

        <app-client-table [clientsData]="(clients|async)?.payload">
        </app-client-table>

    </div>
    
</div>